{
  "presets": [
      [
          "env",
          {
              "targets": {
                  "node": "current"
              }
          }
      ]
  ],
  "plugins": [
      "import-directory",
      "transform-object-rest-spread",
      "transform-util-promisify"
  ],
  "sourceMaps": "inline",
  "ignore": "node_modules"
}
