nav.main-menu {
  text-align: center;
  ~* {
    text-align: left;
  }
  a {
    display: inline-block;
    position: relative;
    @include vr($margin: 0 1);
    +br {
      display: none;
    }
    &:before,
    &:after {
      position: absolute;
      content: '[';
      display: inline-block;
      opacity: 0;
      transition: transform 0.3s, opacity 0.2s;
      @include vr($margin-right: 0.5);
      transform: translateX(20px);
      color: color(foreground);
      left: -20px;
    }
    &:hover,
    &:focus {
      background-position: 0 1.7em; //@TODO - remove magic numbers
      &:before,
      &:after {
        opacity: 1;
        transform: translateX(0);
      }
    }
    &:after {
      left: auto;
      right: -20;
      content: ']';
      transform: translateX(-20px);
      @include vr($margin-left: 0.5);
    }
  }
}
