@media print {
  @import '~gutenberg-css/dist/gutenberg.min';
  .no-print,
  .no-print * {
    display: none !important;
  }
  p a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }

  :root {
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--color-maroon) !important;
  }

  #vik-ramanujam,
  #vik-ramanujam+p {
    img {
      float: left;
      width: 5rem;
      margin-right: 1rem;
    }
    &,
    &+p {
      margin-top: 1rem;
    }
  }

  hr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-red-mellow);
  }

  blockquote {
    p {
      color: var(--color-green-dark) !important;
    }
    &:after {
      display: none;
    }
  }

  #vik-ramanujam+p+p+p+p {
    display: none;
  }

  li {
    margin-bottom: 1rem;
  }

  h5,
  h6,
  li,
  p {
    color: var(--color-gray-darker) !important;
  }

  #likes+ul {
    >li {
      display: inline-block;
      width: 30.3333%;
      margin-bottom: 0;
    }
  }

  #faq,
  #faq~* {
    display: none;
  }
}
