#likes > ul {
  --likes-prefix: 'Vik ♥️';
  padding: 0;
  margin-top: 0;
  @include vr($height: 1);
  overflow: hidden;
  position: relative;
  >* {
    line-height: 2rem;
    & li:before {}
  }
  &::before {
    display: block;
    content: var(--likes-prefix);
    position: absolute;
    top: 0;
    width: 2em; // em used as we're monospaced :)
    @include vr( $line-height: 1, $padding: 0);
    white-space: nowrap;
  }
  &:hover li {
    animation-play-state: paused;
  }
  li {
    list-style: none;
    animation: ticker $lines+s cubic-bezier(1, 0, 0.5, 0) infinite;
    color: $color2;
    margin-left: 0;
    margin-bottom: 0;
    &:before {
      content: var(--likes-prefix);
      visibility: hidden;
      margin: 0;
      position: static;
      padding-right: 1ch;
    }
    @include vr($line-height: 1);
  }
}
