// @import url(https://fonts.googleapis.com/css?family=Inconsolata);

$vr-box-sizing   : border-box;
$vr-line-height  : 1.5;
$vr-modular-scale: minor-third;
$vr-grid-color   : $maroon;

$vr-breakpoints: (
    60em: ( // 960px
        font-size: 14px
    ),
    90em: ( // 1440px
        font-size: 15px
    )
);

$vr-helpers: (
  font-size: (
      count : 2,
      prefix: "vr-font-size-"
  )
);

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

@import "~vertical-rhythm-reset/dist/_vertical-rhythm-reset";

@include vr-reset();

input[name='show-grid']:checked ~ content{
  @include vr-grid();
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

hr {
  margin-left: auto;
  margin-right: auto;
  @include vr($height: 1, $margin-bottom: 1, $width: 3);
}
