@import 'variables';
@import '~vertical-rhythm-reset/dist/_vertical-rhythm-reset';

$system-monospace: 'SFMono-Light',
  'SFMono-Regular',
  Consolas,
  'Droid Sans Mono',
  'Liberation Mono',
  Menlo,
  monospace;

$vr-box-sizing: border-box;
$vr-line-height: 1;
$vr-modular-scale: minor-second;
$vr-font-size: 9px;

$vr-breakpoints: (
  60em: ( // 960px
      font-size: 10px
  ),
  90em: ( // 1440px
      font-size: 10px
  )
);

.no-print,
.no-print *, img {
  display: none !important;
}

:root {
  @extend .default;
}

@include vr-reset();

/* Setting content width, unsetting floats and margins */

/** Setting margins */
@page {
  margin: 1cm;
  size: A4;
}

/* The first page of a print can be manipulated as well */
@page :first {
  // margin: 1cm 2cm;
}

/* Set font to 16px/13pt, set background to white and font to black.*/
/* This saves ink */
body {
  background: #fff !important;
  color: color(gray-darker);
  font-family: Georgia;
}

h1 {
  @include vr($margin: 1 0 .5 0, $font-size: 2rem);
  text-align: center;
}

h2 {
  @include vr($padding: .5 0, $font-size: 1.25rem, $offset-top: -1);
  border-top: 1px solid var(--color-off-white);
  text-align: center;
  + p {
    text-align: center;
  }
}

h3 {
  @include vr($offset-top: -1);
  border-bottom: 1px solid var(--color-off-white);
}

h4,
h5,
h6 {
  color: color(gray-darker);
  font-weight: bolder;
  margin-bottom: 0;
}

h4 {
  @include vr($margin-top: 0, $margin-bottom: 0);
  + p, + h5 {
    @include vr($margin-top: 0);
  }
  position: relative;
  strong, em {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
  }
}

h5 + p, h5 + h6 {
  @include vr($margin-top: 0);
}

p,
ul,
li {
  @include vr($margin-bottom: .5)
}

ul {
  @include vr($margin-left: 1, $margin-bottom: 0.5, $padding-left: 1)
}

h5,
h6,
li,
p {
  color: var(--color-gray-darker) !important;
}

/* LAYOUT */

section.main {
  display: grid;
  grid-template-columns: [first] auto [second] 200px [end];
}

h1, section#personal-details{
  grid-column-start: first;
  grid-column-end: end;
}

section#education {
}

#skills-talks, #section-likes {

}


#section-likes ul {
  margin-left: 0;
  padding-left: 0;
  > li {
    display: inline-block;
    width: 40%;
    @include vr($margin-bottom: 0.5);
    vertical-align: top;
  }
}

/* HIDE ELEMENTS */

hr, footer, blockquote, img, h1 + p {
  display: none;
}

/* PAGE BREAKS */

/* Defining all page breaks */
a {
  page-break-inside:avoid
}

h1, h2, h3, h4, h5, h6 { page-break-after:avoid;
  page-break-inside:avoid }

img { page-break-inside:avoid;
  page-break-after:avoid; }

  table, pre { page-break-inside:avoid }

  ul, ol, dl  { page-break-before:avoid }


/* ORDERING */

h1, h1 + p, section#personal-details {
  order: 0;
}

section#education {
  order: 2;
}

section#skills-talks {
  order: 3;
  width: 20%;
}

section#section-likes {
  order: 3;
  width: 20%;
}

section#work {
  order: 4;
}
